@model IEnumerable<Attendance.Models.attendancev>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.device_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.atttime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.device_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.atttime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
