@{
    ViewBag.Title = "";
}

<h2>حضور الفتره</h2>
@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    
    listItems.Add(new SelectListItem
    {
        Text = "الجراج",
        Value = "الجراج"
    });
    

}

@using (Html.BeginForm("byinterval2", "byinter"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div>
        اختر تاريخ الفتره
        <br />        من @Html.TextBox("frominputdate", "", new { @autocomplete = "off" })

        <br />الى           @Html.TextBox("toinputdate", "", new { @autocomplete = "off" })
        <div>
             اختر القطاع  @Html.DropDownList("depname", new SelectList(listItems, "Value", "Text"))
        </div>

        <div>
            القطاعات التى تم اختيارها  @Html.TextBox("empcode", "", new { @autocomplete = "off" })
        </div>
        <br />  <input type="submit" value="search" />
    </div>







}

<div>
    <a href="/home/index">Back To Home</a>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#frominputdate").datepicker({

            dateFormat: "yy-mm-dd"
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#toinputdate").datepicker({

            dateFormat: "yy-mm-dd"
        });
    });
</script>
<script>
    $('#depname').change(function () {
        var depname = $('#depname').val();
        $("#empcode").val(depname);
    });

</script>
<script>
    $("#empcode").val($('#depname').val());


</script>

