@model Attendance.Models.cumlative

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>cumlative</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.delayinmin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.delayinmin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.themonth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.themonth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.theyear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.theyear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEPTNAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEPTNAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
